{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="olympiad_content">
        <h1 class="header_text">{{ title }}</h1>
        <p>Добро пожаловать на стартовую страницу сайта myolimp.ru. <br>
            Сайт предназначен для агрегирования контента о школьных олимпиадах.
            При его создании я старался учитывать пожелания учителей, которые работают со
            школьными олимпиадами. Если Вы учитель и у вас есть пожелание по работе сайта - вы можете оставить заявку
            в специальной форме, закреплённой внизу сайта. Я стараюсь учитывать подобные пожелания.
            Сайт создан одним человеком, поэтому прошу отнестись с пониманием к частоте обновлений.</p>

    </div>
{% endblock %}
